<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Buscar Curso</title>
</head>
<body>

    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar.</p>

    {% endif %}
    <a href="{% url 'Inicio' %}">Inicio</a>

    <h2>Buscar Camada</h2>

    <form action="/app_coder/buscar" method="GET">{% csrf_token %} 
        <input type="number" name="camada" id="camada">

        <input type="submit" value="Enviar">
    </form>   

    
    {% if cursos %}

        <p>Estamos buscando el: {{camada}}</p>
        <ul>
            {% for curso in cursos %}
                <li> {{curso.nombre}} </li>
                <li> {{curso.camada}} </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No se encontraron camadas.</p>
    {% endif %}

    <p style="color: red;">{{respuesta}}</p>
</body>
</html>