{% extends "app_coder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
    <style>
        header{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <section style="margin: 1rem; display: flex;flex-direction: column; justify-content: center;align-items: center;">
        <h1>AGREGAR ESTUDIANTES</h1>
        {% if miFormulario.errors %}

        <p style="color: red;"> Están mal los datos, revisar.</p>

        {% endif %}

        <form action="" method="POST">{% csrf_token %} 
            <table>
                {{ miFormulario.as_table }}
            </table>
            <input type="submit" value="Enviar">
        </form>   
    </section>
{% endblock %}

